# Chipolte Data

Here is creating the directory/path to data

In [1]:
import pandas as pd

In [49]:
import os
os.getcwd()

from pathlib import Path
path = Path('C://Users//GGPC//Documents//coding//GA//DATA')
path = str(path)
os.chdir(path)
os.getcwd()

'C:\\Users\\GGPC\\Documents\\coding\\GA\\DATA'

In [50]:
chipotle = pd.read_csv(path + '//chipotle.csv')
chipotle

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

## 1

Display columns

In [51]:
list_of_column_names = list(chipotle.columns)
print("Coloumn Names: ",list_of_column_names)


#chipotle.columns

Coloumn Names:  ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

## 2

Display first 10 records of the data

In [52]:
chipotle.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

## 3

What is the average price of an order?

nned to look at quantity and grouping orders (18.8)

In [57]:
# Count the number of unique order_ids
# Note: You could assume this is 1,834 as that's the maximum order_id, but it's best to check

num_orders = len(set(chipotle.order_id))

num_orders

1834

In [63]:
chipotle = chipotle.drop_duplicates()

chipotle['adjusted_item_price'] = chipotle['item_price'].str.replace('$', '').str.replace(' ', '')
#here i am removing the $ and any unwanted "spaces" and making a new coloum with these adjusted values

chipotle['adjusted_item_price'] = chipotle['adjusted_item_price'].astype(str).astype(float)
#here i am turing the new coloum from string values to floats

#chipotle['total_order_price'] = chipotle['quantity'] * chipotle['adjusted_item_price']
#Here i im making a new column with the adjusteditem price * the quantity ordered = this is not needed as the price incluse the quantity already

order_total = chipotle.groupby('order_id').adjusted_item_price.sum()
#here grouping the total order price by the order id

order_total.mean().round(2)

#round(sum(adjusted_item_price) / num_orders, 2)  
#alternate way to do it

18.64

## 4

What are all of the unique canned sodas and soft drinks offered?

In [8]:
#here i am looking in the data to find all unique drinks in the item_name

drink = chipotle[chipotle['item_name'].str.contains('drink', case=False)]['item_name'].unique()
soda = chipotle[chipotle['item_name'].str.contains('soda', case=False)]['item_name'].unique()

for item_drink in drink:
    print(item_drink)
for item_soda in soda:
    print(item_soda)

Canned Soft Drink
6 Pack Soft Drink
Canned Soda

In [9]:
#Here i am using groupby to group all objects in the item_name called canned soft drink tand getting all the unique choice discriptions in that group
#then using loc() to only show the object found true to the group - Loc[0,:] would show the false items (all items not in the canned drink group)

canned_soft_drink_unique = chipotle['choice_description'].groupby(chipotle['item_name'] == 'Canned Soft Drink').unique()
canned_soft_drink_unique.loc[1:]

item_name
True    [[Coke], [Sprite], [Lemonade], [Diet Coke], [N...
Name: choice_description, dtype: object

In [10]:
pack_soft_drink_unique = chipotle['choice_description'].groupby(chipotle['item_name'] == '6 Pack Soft Drink').unique()
pack_soft_drink_unique.loc[1:]

item_name
True    [[Sprite], [Diet Coke], [Coke], [Nestea], [Lem...
Name: choice_description, dtype: object

In [11]:
canned_soda_unique = chipotle['choice_description'].groupby(chipotle['item_name'] == 'Canned Soda').unique()
canned_soda_unique.loc[1:]

item_name
True    [[Sprite], [Dr. Pepper], [Mountain Dew], [Diet...
Name: choice_description, dtype: object

In [70]:
# Final one

soda_type = sSalsaet(chipotle['choice_description'][chipotle['item_name'].isin(['Canned Soft Drink', '6 Pack Soft Drink', 'Canned Soda'])].unique())

soda_type

{'[Coca Cola]',
 '[Coke]',
 '[Diet Coke]',
 '[Diet Dr. Pepper]',
 '[Dr. Pepper]',
 '[Lemonade]',
 '[Mountain Dew]',
 '[Nestea]',
 '[Sprite]'}

## 5

What are the Average Number of topping per burrito? Calculate the average number of toppings per burrito. Note: Let's ignore the 'quantity' column to simplify this task. Hint: Think carefully about the easiest way to count the number of toppings!

In [21]:
burrito_rows = chipotle[chipotle['item_name'].str.contains('burrito', case = False)]
#finding all rows that contain the word burrito

burrito_rows['choice_description_length'] = burrito_rows['choice_description'].str.split(',').apply(len)
#making a new column in the new dataframe which looks at the choice discriptios as a string then splits the list at the ',' and obtians the length of the list

mean_toppings = round(burrito_rows['choice_description_length'].mean(),2)

mean_toppings

C:\Users\GGPC\AppData\Local\Temp\ipykernel_25652\390001541.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  burrito_rows['choice_description_length'] = burrito_rows['choice_description'].str.split(',').apply(len)

5.4

## 6 
Create a dictionary or dataframe in which the keys represent chip orders and the values represent the total number of orders. Expected output: {'Chips and Roasted Chili-Corn Salsa': 18, ... } Note: Please take the 'quantity' column into account! Optional: Learn how to use 'defaultdict' to simplify your code.

In [14]:
from collections import defaultdict

In [15]:
chip_orders = defaultdict(int)
#use defaultdict to create a empty dictionary called chip_orders

for index, row in chipotle.iterrows():
    '''
    using iterrow to iterate through the rows of the chipotle dataframe. 
    and if the word chips is found in the coloumn "item name" 
    both the chip name is added in the key position and the quantities in the value position
    '''
    if 'Chips' in row['item_name']:
        chip_orders[row['item_name']] += row['quantity']
    
chip_orders

defaultdict(int,
            {'Chips and Fresh Tomato Salsa': 130,
             'Chips and Tomatillo-Green Chili Salsa': 33,
             'Side of Chips': 110,
             'Chips and Guacamole': 506,
             'Chips and Tomatillo Green Chili Salsa': 45,
             'Chips': 230,
             'Chips and Tomatillo Red Chili Salsa': 50,
             'Chips and Roasted Chili-Corn Salsa': 18,
             'Chips and Roasted Chili Corn Salsa': 23,
             'Chips and Tomatillo-Red Chili Salsa': 25,
             'Chips and Mild Fresh Tomato Salsa': 1})

In [17]:
new_chip_orders = defaultdict(int)

#here i am making a new dtatframe that filters though the item_name column and find onlt the rows contianing chips
chip_rows = chipotle[chipotle['item_name'].str.contains('chips', case = False)]

#grouping the new chip rows dataframe by the item names then summing the quantity column fro each group
chip_group = chip_rows.groupby('item_name')['quantity'].sum()

#this goes though the grouped data using the .items() method to access the item_name(key) and quntity(value)
#the item name and quantity are then added to the new dictionary new_chip_orders. (defaultdict helps to default missing data with 0)
#the key = lambda x, x[1] tells the sorted fuction to sort based on the 2 element(quantity) and in the reverse order from hight -low
for item_name, quantity in sorted(chip_group.items(), key=lambda x: x[1], reverse=True):
    new_chip_orders[item_name] += quantity

new_chip_orders

defaultdict(int,
            {'Chips and Guacamole': 506,
             'Chips': 230,
             'Chips and Fresh Tomato Salsa': 130,
             'Side of Chips': 110,
             'Chips and Tomatillo Red Chili Salsa': 50,
             'Chips and Tomatillo Green Chili Salsa': 45,
             'Chips and Tomatillo-Green Chili Salsa': 33,
             'Chips and Tomatillo-Red Chili Salsa': 25,
             'Chips and Roasted Chili Corn Salsa': 23,
             'Chips and Roasted Chili-Corn Salsa': 18,
             'Chips and Mild Fresh Tomato Salsa': 1})